section {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

.card {
  width: 300px;
  height: 185px;
  display: grid;
  align-items: end;
}

.card img {
  height: auto;
  width: 300px;
  grid-column: 1;
  grid-row: 1;
  z-index: 0;
}

.card-overlay {
  background-color: rgba(170, 199, 30, 0.23);
  color: white;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-overlay h3 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 700px) {
  .card {
    width: 400px;
    height: 285px;
  }
  .card img {
    height: auto;
    width: 400px;
  }
}
