section {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 15px;
}

.card {
  background-color: azure;
  width: 280px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
