.game {
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid #aac71e;
  border-right: 2px solid #aac71e;
}
