.head {
  width: 100%;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head h1 {
  color: #aac71e;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 25px;
}

.score {
  background-color: antiquewhite;
}

.best-score {
  background-color: orange;
}

.score,
.best-score {
  padding: 15px;
}

@media screen and (max-width: 700px) {
  .head {
    flex-direction: column;
  }
}
