* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #171d21;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  .App {
    margin: 0;
  }
}
